Example/DemoTabbedApplication/Entity.4dbase/Preferences/*
Example/DemoTabbedApplication/Entity.4dbase/Resources/php.ini
Example/DemoTabbedApplication/Entity.4dbase/WebFolder/index.html
Backup Journal*.txt
