Example/DemoTabbedApplication/Entity.4dbase/Preferences/*
Example/DemoTabbedApplication/Entity.4dbase/Resources/php.ini
Example/DemoTabbedApplication/Entity.4dbase/WebFolder/index.html
Example/DemoTabbedApplication/Entity.4dbase/Mobile Projects/*
Example/DemoTabbedApplication/Entity - Mobile/*
Backup Journal*.txt
