github "4d/ios-QMobileDataStore" "HEAD"
github "4d/ios-QMobileAPI" "HEAD"
github "4d/ios-QMobileDataSync" "HEAD"

github "onevcat/Kingfisher" # image download

github "phimage/CallbackURLKit" # action using url

github "phimage/ValueTransformerKit" # format value

github "SwiftKickMobile/SwiftMessages" # display message
github "xmartlabs/Eureka"

github "IBAnimatable/IBAnimatable"
github "nvzqz/FileKit"
github "DaveWoodCom/XCGLogger"
github "weichsel/ZIPFoundation"
