git "http://srv-git:3000/qmobile/QMobileDataStore.git" "HEAD"
git "http://srv-git:3000/qmobile/QMobileAPI.git" "HEAD"
git "http://srv-git:3000/qmobile/QMobileDataSync.git" "HEAD"

github "onevcat/Kingfisher" # image download

github "phimage/CallbackURLKit" # action using url

github "phimage/ValueTransformerKit" # format value
github "ArtSabintsev/Guitar" # string extension, camel cased etc...

github "SwiftKickMobile/SwiftMessages" # display message
github "xmartlabs/Eureka"

github "dennisweissmann/DeviceKit"
github "IBAnimatable/IBAnimatable"
github "nvzqz/FileKit"
github "DaveWoodCom/XCGLogger"
github "weichsel/ZIPFoundation"
#DataSync
github "Thomvis/BrightFutures"
