<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server.url</key>
	<string>http://localhost/</string>
	<key>dataStore.drop.atEnd</key>
	<false/>
	<key>dataStore.drop.atStart</key>
	<true/>
	<key>dataSync.dataStoreDrop</key>
	<false/>
	<key>dataSync.deleteRecords</key>
	<true/>
	<key>log.showThreadName</key>
	<true/>
	<key>log.showLevel</key>
	<true/>
	<key>log.showFileNames</key>
	<true/>
	<key>log.showLineNumbers</key>
	<true/>
	<key>log.showFunctionName</key>
	<true/>
	<key>log.showDate</key>
	<true/>
	<key>log.showLogIdentifier</key>
	<false/>
	<key>log.writeToFile</key>
	<string>debug.log</string>
</dict>
</plist>
